<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Приветствуем в барбершопе {{ name }}!!!</h1>
    <h2>Проверка типов данных</h2>
    <p>Число: {{ integer }}</p>
    <p>Число с точкой: {{ float }}</p>
    <p>Строка: {{ string }} {{ string.2 }}</p>
    <p>Список: {{ num_list }} {{ num_list.1 }}</p>
    <p>Словарь: {{ name_dict }} {{ name_dict.price }}</p>
    <p>Множество: {{ string_set }}</p>
    <p>Класс: {{ name_object }} {{ name_object.age_in_days }}</p>
</body>
</html>