<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>"name": {{ name }}</h2>
    <p>"integer": {{ integer }}</p>
    <p>"float": {{ float }}</p>
    <p>"string": {{ string }}</p>
    <p>"num_list": {{ num_list }}</p>
    <p>"name_dict": {{ name_dict }}</p>
    <p>"string_set": {{ string_set }}</p>
    <p>"name_object": {{ name_object }}</p>
    <p>"method_object": {{ method_object }}</p>
</body>
</html>